* {
    margin:0;
    padding:0;
}
body {
    font-family:"맑은 고딕", "돋움";
    font-size:12px;
    color:#444444;
}
ul {
    list-style-type:none;
}
.clear {
    clear:both;
}
#page {
    width:980px;
    margin:0 auto;
}
.line {
    margin-top:25px;
    border-top:solid 1px #cccccc;
}

header #logo {
    float:left;
    margin:15px 0 0 20px;
}
header #moto {
    float:left;
    margin:45px 0 0 20px;
}
header #top_menu {
    float:right;
    margin:50px 0 0 0;
}
header #top_menu li {
    display:inline;
}

header nav ul {
    margin-top:25px;
}
header nav li {
    display:inline;
}
header nav li.item {
    margin-left:40px;
}

main {
    margin-top:10px;
}

footer {
    margin-top:30px;
    padding:20px 0 0 15px;
    border-top:solid 3px #06b5b8;
    color:#666666;
}
footer #address {
    float:left;
}
footer #link {
    float:right;
}
footer #footer_menu li {
    margin-top:5px;
}
footer #company_info {
    margin-top:20px;
}
footer #company_info li {
    margin-top:2px;
}
footer #copyright {
    margin-top:10px;
    font-size:11px;
    color:#888888;
}
footer #link h3 {
    font-size:16px;
    color:#06b5b8;
}
footer #link select {
    margin:5px 0 0 50px;
    width:100px;
    height:18px;
    font-size:11px;
}
footer #icons {
    margin-top:5px;
    text-align:right;
}
