@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400');
body{
  background-image: url(https://source.unsplash.com/random/1600x900);
  background-size:cover;
  min-height:100vh;
  margin:0;
}
nav{
  position: fixed;
  bottom:0;
  left:0;
  padding:1rem;
  list-style: none;
}
body{
  display:flex;
  align-items: center;
}
article{
  background-color:rgba(255, 255, 255, 0.7);
  color:black;
  padding:2rem;
  max-width:30rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
article *{
  max-width:100%;
}
nav li{
  display: inline-block;
}
nav li a{
  text-decoration: none;
  padding:1rem;
  color:white;
  font-weight: 200;
}