@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

*{margin: 0; padding: 0;font-family: 'Noto Sans KR', sans-serif;}



header {z-index: 9999; position:fixed; width:100vw; background-color: rgba(230, 230, 230, 0.438); min-width: 200px;height: 80px;}
header > h1{float: left; margin: 20px 0 0 60px; font-size: 30px; color:#3372B1 ; line-height: 40px;}

header > nav > ul{float: right; padding-right: 60px; margin-top: 30px;}
header > nav > ul > li{display:inline; margin-right:30px;}
header > nav > ul > li > a{font-size: 18px; font-weight: 700; text-decoration:none; color:rgb(80, 80, 80); }
header > nav > ul > li > a:hover {color:#3372B1;}

.main-visual{width: 100%;}
.main-visual > .text-area{ float: left; width: 35%; height: 100vh; background-color: #ffffff;
    display: flex; vertical-align: middle; align-items: center;
}


@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  .animated-title {
    color: #414141;
    font-family: Roboto, Arial, sans-serif;
    margin-left: 100px;
  }
  .animated-title > div {
    height: 50vh;
    overflow: hidden;
    position: absolute;
    width: 350px;
  }
  .animated-title > div div {
    font-size: 50px;
    padding: 20px 0;
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 5px solid rgb(0, 0, 0);
    top: 0;
  }
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  .animated-title > div.text-top div span:first-child {
    color: #414141;
  }
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }


.main-visual > .visual-area{height: 100vh; background-image: url(../img/background.png);background-repeat: no-repeat; background-size: 1000px; background-position: right bottom;}